{% extends 'base.html.twig' %}

{% block title %}Video Game {% endblock %}

{% block body %} 
{% include 'menu.html.twig' %} 
<h1>Video Game : </h1> 
 
{% for VG in list %}
<ul>
    <li>{{ VG.id }}</li>
    <li>{{ VG.title}}</li>
    {% if is_granted('ROLE_USER') %}
    <li><a href="{{ path('one-VG') }}?id={{ VG.id }}">+</a></li>
    {% endif  %}
</ul>
{% endfor %}

{% endblock %}