{% extends 'base.html.twig' %}

{% block title %}User {% endblock %}

{% block body %}  
{% include 'menu.html.twig' %}
<h1>list user : </h1> 
 
{% for user in list %}
<ul>
    <li>{{ user.firstName}}</li>
    <li>{{ user.name}}</li>
    {% if is_granted('ROLE_USER') %}
    <li><a href="{{ path('one-utilisateur') }}?id={{ user.id }}">+</a></li>
    {% endif %}
</ul>
{% endfor %}

{% endblock %}